<html>
 <head>
  <title>School</title>
  <style>
        th, td, p, input {
            font:14px Verdana;
        }
        table, th, td 
        {
            border: solid 1px #DDD;
            border-collapse: collapse;
            padding: 2px 3px;
            text-align: center;
        }
        th {
            font-weight:bold;
        }
    </style>
 </head>
 <body>
    School Assignment
    <button><a href="/classroom">Question 1</a></button>
    <button><a href="/teacher-search">Question 2</a></button>
    <button><a href="/total-salary">Question 3</a></button>
    <button><a href="/subjects">Question 4</a></button>
    <h2>Question 2</h2>
     <h4>Get Student List By Teacher Name:</h4>
     <input placeholder="Teacher Name" id="serach_input">
     <button id="search">Search</button>
     <p id="showData"></p>
 </body>
 <script>
    const el = document.getElementById("search");
    el.addEventListener("click", onSearch, false);

    async function onSearch() {
        const inputEl = document.getElementById("serach_input");
        const term = inputEl.value;
        const url = '/search?name=' + term;
        try {
        const response = await fetch(url, {
            method: 'GET',
        });
        const json = await response.json();
        if (json.result) {
            let students = json.result;
            createTable(students);
        }
        } catch (error) {
        console.error('Error:', error);
        }
    }

    function createTable(students) {
        var col = [];
        for (var i = 0; i < students.length; i++) {
            for (var key in students[i]) {
                if (col.indexOf(key) === -1) {
                    col.push(key);
                }
            }
        }

        // CREATE DYNAMIC TABLE.
        var table = document.createElement("table");

        // CREATE HTML TABLE HEADER ROW USING THE EXTRACTED HEADERS ABOVE.

        var tr = table.insertRow(-1);                   // TABLE ROW.

        for (var i = 0; i < col.length; i++) {
            var th = document.createElement("th");      // TABLE HEADER.
            th.innerHTML = col[i];
            tr.appendChild(th);
        }

        // ADD JSON DATA TO THE TABLE AS ROWS.
        for (var i = 0; i < students.length; i++) {

            tr = table.insertRow(-1);

            for (var j = 0; j < col.length; j++) {
                var tabCell = tr.insertCell(-1);
                tabCell.innerHTML = students[i][col[j]];
            }
        }

        // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
        var divContainer = document.getElementById("showData");
        divContainer.innerHTML = "";
        divContainer.appendChild(table);
    }
 </script>
</html>